fastapi==0.103.1
uvicorn==0.23.2
websockets==11.0.3
python-multipart==0.0.6
aiofiles==23.1.0
Pillow==11.0.0
pillow-heif==0.18.0 
mysql-connector-python==8.1.0

python-dotenv==1.0.0
uuid==1.30
pydantic==1.10.14

pytest==7.4.0
httpx==0.24.1

pymysql==1.1.0
